.list {
  list-style-type: disc;
  list-style-type: square;
  list-style-type: circle;
  list-style-type: upper-roman;
  list-style-type: decimal-leading-zero;
  list-style-type: none;
  /* la imagen debe ser del mismo tamaño que las bullets */
  list-style-image: url("../img/favicon.png");
  list-style-image: none;
}

.list li {
  list-style-type: none;
}

/* Agregando imagen como bullet */
.list li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("../img/favicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.list-2 {
  background-color: coral;
  list-style-position: outside;
  list-style-position: inside;
}

.list-3 {
  background-color: cornsilk;
  list-style: lower-latin inside;
}