.colores-hsl {
  background-color: hsl(0, 100%, 50%);
  /* Agregando opacidad (0 - 1)*/
  background-color: hsla(0, 100%, 50%, 0.5);
  color: hsl(0, 0%, 0%);
  border: thick solid hsl(210, 75%, 65%);
}