html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* La función calc() nos sirve para hacer calculos aritmeticos */
.ch-10 {
  --padding-size: 2ch;
  --num-ch: 10ch;
  background-color: skyblue;
  font-size: 2rem;
  padding: var(--padding-size);
  width: calc(var(--num-ch) + var(--padding-size) * 2);
}