.box {
  background-color: black;
  border: thick solid red;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  width: 400px;
}

/* Outline va a ser un borde exterior */
.outline {
  color: white;
  outline-width: 5px;
  outline-style: dashed;
  outline-color: chartreuse;
  outline: thick solid blue;
  /* Distancia que se aleja de la caja */
  outline-offset: 3rem;
  outline-offset: -3rem;
  text-align: center;
}