/*
  - text-align
  - text-decoration
  - text-indent
  - text-overflow:
    - overflow: hidden
    - white-space: nowrap
  - text-transform

  - letter-spacing
  - white-space
  - word-break
  - word-spacing
  - writing-mode
*/

.text {
  font-size: 2rem;
  /* Posiciona el texto */
  text-align: center;
  text-align: left;
  /* Decora el texto con una linea como enlace o no */
  text-decoration: none;
  /* Indentacion a la linea donde empieza el texto */
  text-indent: 3rem;
  /* Capitaliza la primera letra de cada palabra */
  text-transform: capitalize;
  /* Transforma a minusculas todo el texto */
  text-transform: lowercase;
  /* Transforma a mayusculas todo el texto */
  text-transform: uppercase;
  /* No aplica transformaciones al texto */
  text-transform: none;
  /* Sera el espaciado que habra entre cada caracter */
  letter-spacing: .3rem;
  /* Rompe las palabras */
  word-break: break-all;
  /* Sera el espaciado que habra entre palabras */
  word-spacing: 1.5rem;
  /* Cambia el modo de escritura */
  writing-mode: vertical-lr;
}

.text-overflow {
  background-color: blanchedalmond;
  border: thin solid black;
  font-size: 2rem;
  padding: 1rem;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  /* Pone puntos suspensivos al texto que desborda */
  text-overflow: ellipsis;
}

.white-space {
  white-space: pre;
}