:root {
  --form-bg-color: #dddddd;
  --form-border-color: #222222;
  --form-text-color: #666666;
  --form-placeholder-color: #006999;
  --form-success-color: #4caf50;
  --form-error-color: #f44336;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.contact-form {
  background-color: var(--form-bg-color);
  border: 2px solid var(--form-border-color);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  outline: none;
  width: 80%;
}

.contact-form > * {
  color: var(--form-text-color);
  caret-color: var(--form-placeholder-color);
  display: block;
  border-radius: .25rem;
  font-family: sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 100%;
}

.contact-form > *::placeholder {
  color: var(--form-placeholder-color);
}

.contact-form > *[required]:valid {
  border: 2px solid var(--form-success-color);
}

.contact-form > *[required]:invalid {
  border: 2px solid var(--form-error-color);
}

.contact-form input[type="submit"] {
  background-color: var(--form-placeholder-color);
  border: 2px solid #000000;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.contact-form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.75;
}

.contact-form textarea {
  resize: none;
}