.box {
  margin: 2rem auto;
  width: 300px;
  height: 300px;
  border: thick dashed red;
}

/* background-image define la imagen de fondo del elemento */
.background-image {
  background-image: url("../img/puesta-sol.jpg");
}

/*
  background-size define el tamaño de la imagen de fondo, primer valor x, segundo valor y

  - cover: cambia el tamaño de la imagen de fondo para asegurarse de que permanezca completamente visible
  - contain: cambia el tamaño de la imagen de fondo para asegurarse de que el elemento este completamente cubierto
*/
.background-size {
  background-image: url("../img/puesta-sol.jpg");
  background-size: 300px 200px;
  background-size: 300px;
  background-size: cover;
  background-size: contain;
}

/* background-repeat define como se repite la imagen de fondo en el elemento */
.background-repeat {
  background-image: url("../img/puesta-sol.jpg");
  background-size: 150px;
  background-repeat: repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: no-repeat;
}

/* background-position define la posicion de la imagen de fondo, primer valor x, segundo valor y, si no se especifica un valor este sera center, aparte de valores numericos podemos indiciar el posicionamiento con las palabras: center, top, bottom, left y right */
.background-position {
  background-color: skyblue;
  background-image: url("../img/puesta-sol.jpg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 10px 20px;
  background-position: 10% center;
  background-position: center;
  background-position: top center;
  background-position: bottom center;
}

/* background-clip define cuanto debe extenderse el fondo dentro del elemento */
.background-clip {
  background-color: skyblue;
  background-image: url("../img/puesta-sol.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-clip: padding-box;
  background-clip: content-box;
  padding: 1rem;
}

/* background-origin define el origen de la imagen de fondo */
.background-origin {
  background-color: skyblue;
  background-image: url("../img/puesta-sol.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-origin: border-box;
  padding: 1rem;
}

/* background-attachment define como se comportara la imagen de fondo al desplazarse por la pagina */
.background-attachment {
  background-color: skyblue;
  background-image: url("../img/puesta-sol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-attachment: scroll;
  background-attachment: fixed;
}