.font {
  /* La familia de la fuente */
  font-family: sans-serif;
  /* El tamaño de la fuente */
  font-size: 2rem;
  /* El grosor de la fuente */
  font-weight: 700;
  /* EL tipo de estilo de la fuente */
  font-style: italic;
  /* Es la variante de la fuente */
  font-variant: small-caps;
  /* Es la altura de linea */
  line-height: 2;
  /* Es una propiedad shorthand */
  font: italic small-caps bold 1.5rem / 1.5 monospace;
}