/* background-color define el color de fondo del elemento */

.box {
  margin: 2rem auto;
  width: 300px;
  height: 300px;
  border: thick dashed red;
}

.background-color {
  background-color: black;
}