.text-column-4 {
  column-count: 4;
  column-gap: 1rem;
  column-rule: thin dotted red;
  /* Tamaño minimo de anchura de las columnas */
  column-width: 100px;
  list-style-position: inside;
}

.text-column-3 {
  column-count: 3;
  column-gap: 1rem;
  column-rule: thin solid gray;
  column-width: 100px;
}