.min-max {
  background-color: skyblue;
  margin-top: 1rem;
  /* Tomara el que menor valor tenga */
  width: min(300px, 20vw, 20rem);
  /* Tomara el que mayor valor tenga */
  height: max(200px, 25vh);
}