html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Basada en la anchura del '0' de la fuente del elemento, 1ch es igual a un caracter */
.chs {
  background-color: cadetblue;
  width: 10ch;
}