.box {
  background-color: black;
  border: thick solid red;
  margin: 2rem auto;
  height: 400px;
  width: 400px;
}

.border-radius {
  border-radius: 1rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border-radius: 2rem 4rem;
  border-radius: 2rem 4rem 0;
  border-radius: 4rem 3rem 2rem 1rem;
  border-radius: 2rem;
}

.border-radius-2 {
  border-radius: 2rem / 4rem;
  border-radius: 2rem 4rem / 4rem 8rem;
}

.border-radius-3 {
  border-radius: 50%;
}