.colores-transparent-current {
  background-color: darkmagenta;
  background-color: transparent;
  /* Hereda el valor por defecto  o asignado a la propiedad color */
  background-color: currentColor;
  color: orangered;
}