/* Imagenes responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Imagenes con tamaños especificos */
.card {
  border: medium solid black;
  height: 400px;
  width: 400px;
}

.card img {
  background-color: blanchedalmond;
  height: 300px;
  /* Se parece a background position */
  object-fit: fill;
  object-fit: cover;
  object-fit: contain;
  object-fit: none;
  /* Toma el valor que sea menor de los valores contain y none */
  object-fit: scale-down;
  object-position: left top;
  object-position: 50% 50%;
}