html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Al tamaño del contenedor */
.porcentajes {
  background-color: darkkhaki;
  font-size: 100%;
  padding: 5%;
  margin: 20% 10%;
  width: 80%;
}

.height-parent {
  background-color: brown;
  width: 500px;
  height: 500px;
}

.height-child {
  background-color: coral;
  width: 50%;
  height: 50%;
}