/* La propiedad border-collapse trabaja con las propiedades: border-spacing y empty-cells */
.table {
  font-size: 3rem;
  border-collapse: collapse;
  border-collapse: separate;
  empty-cells: show;
  empty-cells: hide;
}

/* Cuando se aplica border-collapse: collapse, la propiedad border-spacing ya no funciona */
table, th, td {
  border: medium solid black;
  border-spacing: 1rem;
}