html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*
  Al tamaño del viewport

  vw -> ancho del viewport van de 1 al 100
  vh -> alto del viewport van de 1 a 100
  vmax -> entre vw y vh toma el que tenga mayor valor
  vmin -> entre vw y vh toma el que tenga menor valor
*/

.viewport {
  background-color: darkcyan;
  width: 50vw;
  /* Recuerda que la etiqueta body tiene margenes por defecto y recuerda que las barras de scroll del navegador tambien forman parte del viewport */
  width: 100vw;
  height: 50vh;
  height: 100vh;
  font-size: 4vw;
  padding: 2vh 2vw;
}

.full-screen {
  width: 100%;
  height: 100vh;
}

.vmin,
.vmax {
  background-color: darksalmon;
  border: 5px solid black;
  width: 50vmax;
  height: 50vmin;
}