html {
  box-sizing: border-box;
  /* Cambiar la base de la fuente */
  font-size: 20px;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Basada en la anchura de la 'm' de la fuente del elemento raiz (html) */
.rems {
  background-color: cadetblue;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  border: 5px solid rebeccapurple;
}

.rem-child {
  background-color: salmon;
  border:  thick solid beige;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
}