html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Basada en la anchura de la 'm' de la fuente del elemento */
.ems {
  background-color: cadetblue;
  border: 5px solid rebeccapurple;
  font-size: 24px;
  padding: 1em;
}

/* Obtiene el font-size del elemento padre, y si el elemento padre no lo tiene definido busca del elemento mas cercano y si no del body */
.em-child {
  background-color: salmon;
  border: thick solid beige;
  margin: .5em;
  padding: 1em;
  font-size: 2em;
}