/*
  font-display

  - auto: permite que el navegador utilice el metodo predeterminado que suele ser block
  - block: oculta brevemente el texto hasta que la fuente haya sido descargada por completo
  - swap: indica al navegador que utilice la fuente alternativa para mostrar el texto hasta que la fuente personalizada se haya cargado por completo
  - fallback: es una mezcla de auto y swap
  - optional: ocultara el texto, luego lo cargara con la fuente alternativa y finalmente aplicara la fuente personalizada
*/

@font-face {
  font-family: "Chalet";
  src: url("../fonts/Chalet.woff") format("woff");
  font-display: swap;
}

.chalet {
  font-family: "Chalet", sans-serif;
  font-size: 2rem;
}

@font-face {
  font-family: "Pecita";
  src: url("../fonts/Pecita.woff") format("woff");
  font-display: swap;
}

.pecita {
  font-family: "Pecita", sans-serif;
  font-size: 2rem;
}