:root {
  --default-bg-color: skyblue;
}

/* Las custom properties se pueden definir en una clase padre o tambien en la etiqueta root */
.custom-props-1 {
  --primary-color: gray;
  --font-size-32 : 32px;
  background-color: var(--primary-color);
}

.custom-props-2 {
  background-color: var(--default-bg-color);
}

.custom-props-3 {
  font-size: var(--font-size-32);
}

/* Si no encuentra la propiedad se le pasa un segundo valor */
.title-props {
  --primary-color: navy;
  background-color: var(--default-bg-color);
  color: var(--primary-color, orange);
}