.box {
  margin: 2rem auto;
  width: 300px;
  height: 300px;
  border: thick dashed red;
}

.background-multiple {
  width: 50%;
  height: 30vh;
  background-image: url("../img/favicon.png"), url("../img/puesta-sol.jpg");
  background-repeat: repeat-x, no-repeat;
  background-size: 10%, cover;
}

.background-arts {
  width: 1000px;
  height: 700px;
  background: url("../img/arbol.png") no-repeat center bottom, url("../img/aves.png") no-repeat center bottom, url("../img/cielo.png") no-repeat center top;
}